#content {
    background-color: rgb(248, 249, 251); 
 } 
#content .card-body h1{
    padding-top: 100px;
}
#about i{
    font-size: 100px;
    padding-left: 3px;
}
.news .post {
    top: 0%;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 0, 170);
    right: 0;

}
#news .post{
    top: 0;
    right: 0;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(244, 244, 244);

}

#footer{
    background-color: orangered;

}
#Footer .card-footer{
    background-color: rgb(20, 197, 197);
}
