.services .card-body .icon {
    font-size: 100px;

}

.blog .post {
    top: 0%;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: yellow;
    right: 0;

}

.carousel-inner .carousel-caption {
    top: 50%;
    position: absolute;

}

.carousel-inner .carousel-caption h2 {
    font-size: 250%;
    font-weight: bold;
    animation-name: shubham;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes shubham {
    from {
        background-color: aquamarine;
    }

    to {
        background-color: black;
    }
}

.carousel-inner .carousel-caption button:hover {
    border-radius: 100%;
    border: 3px solid black;
}

.navbar img {
    animation-name: xyz;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-radius: 100%;
}

@keyframes xyz {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}
.services .card {
    animation-name: services;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes services {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }


}

.navbar ul li a:hover {
    color: black;
    border-bottom: 2px solid rgb(225, 13, 13);
    /* border-radius: 10px; */
    /* margin: auto; */
}

